.each-stud-col{
    margin-bottom: 20px;
}
.Hogwarts{
    background-color: darkgoldenrod;
    color: #fff;
    text-align: center;
}
.Hogwarts a{
    color: #fff;
}
.Hogwarts p{
    text-align: left;
    margin-left: 580px;
}
.stud-form-container{
    margin-left: 16px;
}